.dss__container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "input result";  
    gap: 10px;
}

.dss__input__box{
    grid-area: input;
    background: white;
    border-radius: 10px;
    padding: 50px;
    overflow-y: scroll;
}

.dss__input__box-field {
    background: rgb(240, 218, 218);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 50px;
    max-width: 100%;
    overflow-y: auto;
    display:flex;justify-content:center;align-items:center
}

/** Title **/
.ds__title {
    margin-bottom: 15px;
    display: inline-block;
    width: 445px;
}
.ds__title h2 { 
    font-size: 30px;
    font-weight: bold;
    font-family: OpenSans;
}
/** Input field **/
.ds__input {
    width: 445px;
    padding: 20px;
}

.ds__input label {
    display: inline-block;
    width: 240px;
    font-size: 20px;
}

.ds__input__field {
    line-height: 50px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fafafa;
    padding: 0 10px;
    margin-left: -23px;
    font-size: 16px;
}

.ds__radio {
    display: inline-block;
    width: 445px; 
    padding-top: -5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.ds__radio label {
    font-size: 20px;
    padding-right: 10px;
}

.ds__radio__box {
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    box-sizing: border-box;  
    padding: 5px;
    margin-left: 220px;
}

.ds__radio__field {
    line-height: 50px;
    width: 50px;
    height: 20px;
    padding: 0 10px;
    font-size: 16px;
}

.dss__result__box {
    grid-area: result;
    background: white;
    border-radius: 10px;
    padding: 50px;
}

.dss__result__box-field {
    background: rgb(240, 218, 218);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.dss__result__buttons {
    padding: 50px;
}

.dss__buttons__submit {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #48addf;
    color: white;
    border: none;
    font-size: 16px;
    transition: 0.2s ease;
}

.dss__buttons__submit:hover {
    background-color:  #2182b3;
}

@media only screen and (max-width: 1680px) {
    .dss__input__box{
        padding: 25px;
    }

    .dss__result__box {
        padding: 25px;
    }

    .dss__result__buttons {
        padding: 25px;
    }
}

@media only screen and (max-width: 1415px) {
    .dss__input__box{
        padding: 25px;
    }

    .ds__input__field {
        margin-left: -15px;
    }
    
    .dss__input__box-field {
        padding: 25px;
    }

    .ds__title h2 { 
        font-size: 25px;
    }

    .ds__input label {
        font-size: 16px;
    }

    .ds__radio label {
        font-size: 16px;
    }

    .ds__radio__box {
        margin-left: 230px;
    }

    .ds__radio__field {
        width: 40px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1280px) {
    .dss__input__box{
        padding: 25px;
    }

    .ds__input__field {
        width: 100px;
        margin-left: -28px;
    }
    
    .dss__input__box-field {
        padding: 20px;
    }

    .ds__title h2 { 
        font-size: 25px;
    }

    .ds__input label {
        font-size: 14px;
    }

    .ds__radio label {
        width: 50px;
        font-size: 14px;
    }

    .ds__radio__box {
        margin-left: 218px;
    }

    .ds__radio__field {
        width: 40px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 960px) {
    .dss__container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "input"
            "result";  
        gap: 10px;
    }
}